// Landing Page Principal

$principal: (

  // Cores
  primaryColor: #ffc700,
  secondaryColor: #e82b1e,
  tertiaryColor: #1d3d8a,
  quaternaryColor: #624900,
  quinaryColor: #0044b4,
  lightColor: #fff,
  darkColor: #1b1300,

  // Fonts
  primaryFont: 'amsi-pro-narw',

);
