@font-face {
    font-family: 'amsi-pro-narw';
    font-weight: 900; 
    font-style: normal;
    src: url('../fonts/AmsiProNarw-Black.otf') format('opentype');
}

@font-face {
    font-family: 'amsi-pro-narw';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/AmsiProNarw-SemiBold.otf') format('opentype');
}
